# <span style="color:red">Solutions to Homework 7<span>

## Financial Analytics

### UChicago ADSP

#### Spring 2024
* Mark Hendricks
* hendricks@uchicago.edu

# 1 HBS Case: Long Term Capital Management LP (A)

Discuss these questions briefly, based on the info in the case. No need to quantitatively answer these questions.

### 1.
Describe LTCM’s investment strategy with regard to the following aspects: 
* Securities traded
* Trading frequency
* Skewness (Do they seek many small wins or a few big hits?)
* Forecasting (What is behind their selection of trades?)

### 2. 
What are LTCM’s biggest advantages over its competitors?

### 3. 
The case discusses four types of funding risk facing LTCM:
* collateral haircuts 
* repo maturity
* equity redemption
* loan access

The case discusses specific ways in which LTCM manages each of these risks. Briefly discuss them.

### 4. 
LTCM is largely in the business of selling liquidity and volatility. Describe how LTCM accounts for liquidity risk in their quantitative measurements.

### 5. 
Is leverage risk currently a concern for LTCM?

### 6. 
Many strategies of LTCM rely on converging spreads. LTCM feels that these are almost win/win situations because of the fact that if the spread converges, they make money. If it diverges, the trade becomes even more attractive, as convergence is still expected at a future date.

What is the risk in these convergence trades?

***

# <span style="color:red">Solution 1</span>

### <span style="color:red">1.1</span> 

Securities traded:

LTCM tried to trade on market mispricing and arbitrage, Relative Value and Convergence trades. They go long-short on these arbitrages. Use leverage to trade bigger principal on these small mispricings and try to hedge out their positions via their long-short trades. They primarily used derivatives, in the form of swaps to achieve these positions.

LTCM was also heavily involved income and credit, and they also have sizeable positions in equities. In all these asset classes, they trade a large number of securities, across global markets.

Trading frequency:

LTCM's trading frequency varied according to their strategies. Their largest investment in the form of convergence trades had a long term trading horizon and frequency (weeks or months). They are not trying to arbitrage intraday movements and nor do they make long-term directional bets. 

Skewness: 

They are picking up pennies in front of a bulldozer. So, many small wins. They seek small positive returns using leverage and do not bet significantly on any specific events. Have lower skewness than SPY. However, they are susceptible to extreme market events (it was the Russian currency crisis that brought them down).

Forecasing: 

Build models to find mispricing and the reason behind the mispricing. Then forecast their P&L on these trades. Their forecast is not better because of better mathematical model (the convergence trade/ relative value theory is not the edge), it is their knowledge of the market.

### <span style="color:red">1.2</span> 

1. Efficient financing: Their edge was on financing and funding, along with their proprietary trading and modelling capabilities.
2. Fund Size: They had a larger AUM, meaning they could lever at favorable rates
3. Collatralization: Better collatralize these positions. (pay lower haircuts)
4. Long-term Horizon: Long term commitment of capital from investors as well as availability of credit line
5. Liquidity and Hedging: LTCM has in place many mechanisms to ensure liquidity. They also avoid taking too much default risk or explicit directional bets.

### <span style="color:red">1.3</span> 

Collateral haircuts:

The haircuts go up in a market disruption event leading to unfavorable collateral terms for LTCM in terms of funding a spread trade. For most trades, LTCM obtains 100% financing on a fully collateralized basis. Furthermore, LTCM stress tests the haircuts across its asset classes.

Repo maturity:

In an adverse situation, where their credit risk goes up, they wont be able to secure these longer term repos which were favorable to their trades. LTCM goes against the norm by entering into relatively long-maturity repo. While much of it is overnight, LTCM uses contracts that typically have maturity of 6-12 months. Furthermore, LTCM manages their aggregate repo maturity.

Equity redemption:

If in a convergence trade, the two securities, before converging, diverge a lot, LTCM are facing redemption risk from their investors at a time where the Margin calls need them to furhter finance their strategies. Equity Redemption at a unfavorable time also leads LTCM to unwind their positions at unfavorable rates leading to further losses of capital. The firm is highly levered, so equity funding risk is especially important. LTCM restricts redemptions of equity year by year. The restriction is particularly strong in that unredeemed money is re-locked.

Loan access:

Loan access can be tough to come by in times of a crisis, leading to a further decline in the fund's performance. For debt funding, LTCM negotiated a revolving loan that has no Material Adverse Change clause. Thus, the availability of debt funding is not so highly correlated with fund performance.

### <span style="color:red">1.4</span> 

LTCM required counterparties to maitain the collateral balance via a 'two-way mark to market process on a daily basis. Thus the cash flow coming in from the counterparties mark to market would fund LTCM's outflow for the mark to market call on their offsetting position.

LTCM als also estimated theoretical worst case haircuts it would face in adverse market situations. Forecasting these worst case liquidity LTCM was able to better structure its financing so as not to liquidate its positions solely due to these adverse market events.

LTCM attempts to account for liquidity risk quantitatively by adjusting security correlations. For short-term horizons, LTCM assumes positive correlation between all trade cat- egories. Even if their net exposure to a strategy flips sides, they still assume positive correlation to the new net position

### <span style="color:red">1.5</span> 

Currently since there were no extreme market events, leverage risk is not a concern, but still a potential threat for LTCM. Given the size of their commited capital and fewer opportunites for the excess capital to enhance LTCM's return, they are considering returning some of the investments made, which would reduce the leverage.

Note: the amount of "true" leverage is also frequently misreported. The reason being that SEC filings require the reporting of the gross notional exposure, not the net exposure! As an example, consider [this article](https://www.cnn.com/2023/08/15/investing/michael-burry-stock-market-crash/index.html). It claims that Michael Burry "bet" $1.6 billion on a market crash. In reality, his exposure is $1.6 billion; he achieved this by buying put options for much, much, cheaper (potentially as low as ~$10m in premiums; capping his losses at $10m).

### <span style="color:red">1.6</span> 

About a year after the time of the case, the fund loses most of its value due to non-converging trades. So clearly there is some risk!

Positions are subject to liquidity risk. If market liquidity dries up or the markets become segmented, the divergent spreads can persist for a long time. This indeed happens later to LTCM. The trades that get them in trouble ultimately pay off, but not before LTCM blew up. LTCM believed it can exit these convergence trades if they become too unprofitable. However, a stop-loss order is not the same as a put option. If the price jumps discontinuously through the stop-loss, then it is ineffective.

Or a market may be paralyzed/illiquid when trying to execute the stop-loss. A put option does not need to worry about price impact, whereas a stop-loss does. Finally, a stop-loss ensures that an investor sells as soon as a security price hits a worst-case scenario, ensuring unfavorable market timing.

***

# 2. LTCM Risk Decomposition

*You were not assigned this problem, but we might discuss it in class.*

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.precision", 4)

import sys
sys.path.insert(0, '../cmds')
from portfolio import *

In [2]:
DATAPATH_ltcm = '../data/ltcm_exhibits_data.xlsx'
SHEET = 'Exhibit 2'
ltcm_raw = pd.read_excel(DATAPATH_ltcm,sheet_name=SHEET)
#ltcm_raw.set_index(ltcm_raw.columns[0],inplace=True)
ltcm_raw.columns = ['date','AUM','Gross','Net','TRInet']
ltcm_raw = ltcm_raw.set_index('date')
ltcm_raw = ltcm_raw.loc[ltcm_raw.index.dropna()]
ltcm_raw.dropna(axis=0,how='all',inplace=True)
ltcm_raw.tail()

                     AUM  Gross    Net TRInet
date
1998-03-01 00:00:00  4.7 -0.003 -0.003    2.8
1998-04-01 00:00:00  4.9  0.027  0.019   2.85
1998-05-01 00:00:00  4.5 -0.067 -0.064   2.67
1998-06-01 00:00:00  4.1 -0.101 -0.101    2.4
1998-07-01 00:00:00  4.1  0.005      0    2.4

### Timing of LTCM Data

The Exhibit data is coded into Excel poorly. It is listed as monthly data, but Excel automatically converts that to the first day of the month. The data corresponds to the End-of-Month!

For instance, LTCM chose to return \$2.7bn of capital on Dec 31, 1997. The drop in AUM is coded to Dec 1, 1997 when the casewriters simply intended to code it to Dec 1997, meaning the end-of-december.

Similarly, LTCM saw large drawdowns in May and June 1998, but these are coded to be May 1 and June 1, when they should be coded as the end-of-month date.

Thus, we need to shift these dates to end-of-month. If we instead make the May 1 date correspond to April 30 returns, we will get incorrect correlations and regression results.

In [3]:
ltcm_raw.index = pd.to_datetime(ltcm_raw.index)

ltcm = ltcm_raw.resample('M').last()
ltcm.tail()

            AUM  Gross    Net TRInet
date
1998-03-31  4.7 -0.003 -0.003    2.8
1998-04-30  4.9  0.027  0.019   2.85
1998-05-31  4.5 -0.067 -0.064   2.67
1998-06-30  4.1 -0.101 -0.101    2.4
1998-07-31  4.1  0.005      0    2.4

## Optional: Add in August 1998?

August 1998 is when LTCM was shocked with massive losses. These were so large that investors then pulled their money in September, to the point that a reorganization of LTCM was implemented in late September.

- The return for August 1998 was roughly -45\%
- And SPY was also down massively in that month.


Try setting `INCLUDE_AUGUST` to `True` to see how different the statistical results below are when this disaster month is included!

## Optional: Evaluate it through December 1997

- This corresponds closely to the time of the case, when they are deciding whether to return capital.
- You will see that the returns through that time are incredible, with hardly any losses.
- 1998 has some bad months before the crash in August.

In [4]:
INCLUDE_AUGUST98 = True
STOP_DEC97 = False

if INCLUDE_AUGUST98:
    DATE_JULY = pd.to_datetime('1998-07-31')
    DATE_AUGUST = pd.to_datetime('1998-08-31')
    LOSS = -1.85
    
    ltcm.loc[DATE_AUGUST,'Gross'] = LOSS/ltcm.loc[DATE_JULY,'AUM']
    # assuming that the netting of this loss is negligible given already down YTD
    ltcm.loc[DATE_AUGUST,'Net'] = LOSS/ltcm.loc[DATE_JULY,'AUM']
    
    ltcm.loc[DATE_AUGUST,'AUM'] = ltcm.loc[DATE_JULY,'AUM'] + LOSS
    ltcm.loc[DATE_AUGUST,'TRInet'] = ltcm.loc[DATE_JULY,'TRInet'] * (1+ltcm.loc[DATE_AUGUST,'Net'])
    display(ltcm.tail())

elif STOP_DEC97:
    ltcm = ltcm.loc[:'1997',:]

             AUM   Gross     Net  TRInet
date
1998-04-30   4.9   0.027   0.019    2.85
1998-05-31   4.5  -0.067  -0.064    2.67
1998-06-30   4.1  -0.101  -0.101     2.4
1998-07-31   4.1   0.005       0     2.4
1998-08-31  2.25 -0.4512 -0.4512  1.3171

### Market Data

Get SPY and Risk-free data.

Align it to the LTCM data, and combine into a dataframe of returns

In [5]:
FILEIN = '../data/ltcm_spy_data.xlsx'
SHEET = 'total returns'
mktrets = pd.read_excel(FILEIN,sheet_name=SHEET).set_index('date')
mktrets.rename(columns={'^IRX':'TBILL'},inplace=True)

### resample to monthly
def cumulative_returns(r):
    return (1 + r).prod() - 1

mktrets_monthly = mktrets.resample('M').apply(cumulative_returns)

rets = mktrets_monthly.merge(ltcm[['Gross','Net']],on='date',how='inner')

## 2.1 Summary Stats

The homework was not explicit in whether you should calculate these summary stats using excess returns or total returns. Given that it requires excess returns for 2.2-2.4, we convert to excess returns here.

In [6]:
retsx = rets.subtract(rets['TBILL'],axis=0).drop(columns=['TBILL'])
display(performanceMetrics(retsx,annualization=12))
display(tailMetrics(retsx))

         Mean     Vol  Sharpe     Min     Max
SPY      0.14  0.1344  1.0415 -0.1453  0.0748
Gross  0.1381  0.2617  0.5276 -0.4553  0.1126
Net     0.053   0.247  0.2145 -0.4553  0.0806

,Skewness,Kurtosis,VaR (0.05),CVaR (0.05),Max Drawdown,Peak,Bottom,Recover,Duration (to Recover)
SPY,-1.3808,3.7661,-0.0486,-0.0836,-0.1605,1998-06-30,1998-08-31,None,None
Gross,-4.564,27.972,-0.0525,-0.2105,-0.547,1998-04-30,1998-08-31,None,None
Net,-5.2454,33.5525,-0.045,-0.2095,-0.5508,1997-12-31,1998-08-31,None,None

### The summary stats

The summary stats are great for the data in the exhibits, and even better if cut off at the end of 1997, at the time of the case.

- Sharpe is very high relative to what we usually see.
- Volatility is sized similarly to SPY, and minimum return is not too bad.

Still, note that 
- SPY does amazing during this period, 
- so LTCM's returns while fantastic, are not an outlier relative to SPY.
- In fact, if we include the 1998 data through July, the tail-risk statistics look worse for LTCM than for SPY.

If we include the August crash,
- All the performance looks bad relative to SPY, particularly the tail-risk.

The difference between Gross and Net is not too large.
- Obviously, the net returns are lower, but given how high LTCM returns are (especially through) 1997, the net returns still deliver a fantastic Sharpe and overall profile. Though one can note they are a bit lower than SPY.

## 2.2 Market Regression

In [7]:
tab_regstats = get_ols_metrics(retsx['SPY'],retsx,annualization=12)
tab_regstats.style.format('{:.2%}',na_rep='')

### The regression stats make LTCM look even better.

While the univariate stats like Sharpe Ratio were not particularly impressive relative to SPY, the regression results show that LTCM has very little correlation to SPY! Thus, these large returns are
- nearly all alpha, not beta
- generating a massive Information Ratio

Thus, this investment looks extremely attractive as an addition to equity-oriented portfolios.

### Optional: 
If August 1998 is included, the regression picks up substantial SPY correlation, making all the stats worse.

## 2.3 Quadratic Regression

In [8]:
X = pd.concat([retsx[['SPY']],retsx[['SPY']]**2],join='inner',axis=1)
X.columns = ['SPY','SPY-squared']

table_quad = pd.DataFrame(index=retsx.columns, columns=['alpha']+list(X.columns)+['R-squared'])
for series in retsx.columns:
    mod = LinearRegression().fit(X,retsx[series])
    table_quad.loc[series,'alpha'] = mod.intercept_
    table_quad.loc[series,X.columns] = mod.coef_
    table_quad.loc[series,'R-squared'] = mod.score(X,retsx[series])

table_quad.style.format('{:.2%}')

### The Quadratic Regression
- does not add to the R-squared to a significant degree.
- Thus, quadratic movements of SPY are not significant in explaining LTCM variation
- To the degree it has quadratic exposure, it is negative. This indicates LTCM underperforms particularly large SPY movements (whether on the upside or downside).

### Optional
- With August 1998 included, the regression picks up massive negative exposure to the quadratic term, due to the severe underperformance of SPY's down month in August 1998. This alone raises the R-squared to a high level.

## 2.4 Asymmetric Regression

In [9]:
STRIKE = .03
X = retsx[['SPY']].copy()
X['UP'] = (retsx[['SPY']]-STRIKE).clip(0)
X['DOWN'] = (-STRIKE - retsx[['SPY']]).clip(0)
X.tail()

table_asymmetric = pd.DataFrame(index=retsx.columns, columns=['alpha']+list(X.columns)+['R-squared'])
for series in retsx.columns:
    mod = LinearRegression().fit(X,retsx[series])
    table_asymmetric.loc[series,'alpha'] = mod.intercept_
    table_asymmetric.loc[series,X.columns] = mod.coef_
    table_asymmetric.loc[series,'R-squared'] = mod.score(X,retsx[series])

table_asymmetric.style.format('{:.2%}')

### The Asymmetric regression
- again shows LTCM as having very little exposure to SPY, even with these nonlinear considerations. That is, the R-squared is still tiny.
- Though the coefficients are not significant, we can interpret the SPY UP coefficient as saying LTCM is underperforming large (positive) SPY returns. This is similar to what we learned from the quadratic regression.
- The SPY DOWN coefficient indicates LTCM overperforms large negative SPY movements. This differs from the Quadratic regression result, which could not distinguish asymmetry in the response to up and down movements.
- Still, the number of such UP and DOWN months is small, and the effect is statistically weak.

### Optional
But if we re-do this including the optional August 1998 data, the answer changes to show substantial negative DOWN exposure, meaning LTCM underperforms in a very down month (like Aug 1998!)