In [1]:
import pandas as pd
import numpy as np

import yfinance as yf

/Users/markhendricks/Projects/adsp-quantfin-2024/venv/lib/python3.9/site-packages/urllib3/__init__.py:34: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
STARTDATE = "1994-01-01"
ENDDATE = "1998-12-31"

FILEOUT = '../data/ltcm_spy_data.xlsx'

In [3]:
TICKS = [
    'SPY',
    '^IRX'
]

FLDS = ['quoteType','shortName','volume','totalAssets','trailingAnnualDividendYield','longBusinessSummary']

In [4]:
info = pd.DataFrame(index=TICKS,columns=FLDS)
info.index.name = 'ticker'
for tick in info.index:
    temp = yf.Ticker(tick).get_info()

    for fld in FLDS:
        if fld in temp.keys():
            info.loc[tick,fld] = temp[fld]

In [5]:
prices = yf.download(TICKS, start=STARTDATE, end=ENDDATE)['Adj Close'][info.index]

prices.index.name = 'date'

KEYS_LEVELS = ['^IRX']

prices.dropna(inplace=True)
rets = prices.pct_change().dropna()
rets[KEYS_LEVELS] = prices[KEYS_LEVELS]/100/252

[*********************100%%**********************]  2 of 2 completed

In [6]:
info

,quoteType,shortName,volume,totalAssets,trailingAnnualDividendYield,longBusinessSummary
ticker,,,,,,
SPY,ETF,SPDR S&P 500,43371957,498082611200,0.010885,The Trust seeks to achieve its investment obje...
^IRX,INDEX,13 WEEK TREASURY BILL,NaN,NaN,NaN,NaN

In [7]:
rets

Ticker           SPY      ^IRX
date
1994-01-04  0.004035  0.000122
1994-01-05  0.002009  0.000122
1994-01-06  0.000000  0.000121
1994-01-07  0.006016  0.000119
1994-01-10  0.011961  0.000119
...              ...       ...
2024-04-23  0.011867  0.000208
2024-04-24 -0.000475  0.000209
2024-04-25 -0.003799  0.000208
2024-04-26  0.009474  0.000208
2024-04-29  0.003541  0.000208

[7614 rows x 2 columns]

In [8]:
with pd.ExcelWriter(FILEOUT) as writer:  
    info.to_excel(writer, sheet_name= 'descriptions')
    rets.to_excel(writer, sheet_name='total returns')
    prices.to_excel(writer, sheet_name='prices')

In [9]:
info

,quoteType,shortName,volume,totalAssets,trailingAnnualDividendYield,longBusinessSummary
ticker,,,,,,
SPY,ETF,SPDR S&P 500,43371957,498082611200,0.010885,The Trust seeks to achieve its investment obje...
^IRX,INDEX,13 WEEK TREASURY BILL,NaN,NaN,NaN,NaN